body {
	margin: 0;
}
#app {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #333333;
}
header, p {
	margin: 20px;
	text-align: center;
}
select, button {
	margin: 10px 20px;
	width: 150px;
}
.grid {
	border: 2px solid #005500;
	background: repeating-conic-gradient(#00CC00 0% 25%, #00AA00 0% 50%) 50% / 40px 40px;
	margin: auto;
	position: relative;
}
.snake {
	position: absolute;
	background: radial-gradient(DodgerBlue, Blue);
}
.snake.dead {
	background: radial-gradient(DarkOrchid, Purple);
}
.snake-head {
	border-radius: 50%;
	width: 20px;
	height: 20px;
}
.snake-body {
	border-radius: 50%;
	width: 18px;
	height: 18px;
	margin: 1px;
}
.snake-tail {
	border-radius: 50%;
	width: 16px;
	height: 16px;
	margin: 2px;
}
.food {
	position: absolute;
	background: radial-gradient(Red, DarkRed);
	border-radius: 50%;
	width: 18px;
	height: 18px;
	margin: 1px;
}
.score {
	line-height: 20px;
	margin: 10px;
	text-align: center;
}
.score .food {
	margin-left: 10px;
}
.game-over {
	color: Red;
	font-size: large;
	margin: 10px;
	text-align: center;
}